.login-page {
    padding: 20px;
    border-radius: 2em;
    box-shadow: 0 12px 15px 0 #00BCD4, 0 17px 50px 0 #fefeff;
    display: flex;
    flex-direction: column;
    -webkit-border-radius: 2em;
    -moz-border-radius: 2em;
    -ms-border-radius: 2em;
    -o-border-radius: 2em;
}

.login-logo {
    width: 10rem;
    margin-bottom: 20px;
}
.title {
    text-transform: uppercase;
    color:white;
    font-size: 1.2em;
    font-weight: bold;
    letter-spacing: 1px;
    padding: 4px 0;
    border-bottom: 2px solid #b21f1f;
    margin-bottom: 20px;
}
.login-form {
    width: 100%;
}

.inputgroup {
    position: relative;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.inputicon {
    color: #11ffff;
    margin-right: 10px; /* Espacement entre l'icône et le champ de saisie */
}

.inputwithicon {
    flex-grow: 1;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #fff;
}
.inputgroup input {
    width: 100%;
    padding: 10px;
    border: 1px solid var(--input-border-color);
    border-radius: 4px;
    background-color: var(--input-background-color);
}

.login-button {
    background-image: linear-gradient(to right,  #1a2a6c,#b21f1f,#fdbb2d) !important;
    background-size: 300% 100%;
    transition: background-position 0.4s;
    width: 100%;
    padding: 10px;
    margin-top: 1em;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;

}

.loginbutton:hover {
    background-position: 100% 0;
}

.sociallogin {
    text-align: center;
    margin-top: 20px;
}

.socialicons {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 10px;
}

.socialbutton {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 35px;
    height: 35px;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    background-color: transparent;
}

.socialbutton i {
    font-size: 20px;
}

.registerlink {
    text-align: center;
    margin-top: 20px;
}

.registerlink a {
    color: var(--primary-color);
    text-decoration: none;
}

.registerlink a:hover {
    text-decoration: underline;
}
