@import "Home.css";
@import "login.css";
@import "header.css";
@import "profile.css";
@import "pagination.css";
@import "dashboard.css";


.main-menu, .sub-menu {
    list-style: none;
    padding: 0;
    margin: 0;
}

.main-menu > li {
    position: relative;
}

.sub-menu {
    display: none;
    position: absolute;
    left: 0;
    top: 100%;
    background-color: #fff;
    border: 1px solid #ddd;
    z-index: 1000;
}

.main-menu > li:hover .sub-menu {
    display: block;
}
