body {
    font-family: 'Nunito', sans-serif;
    font-size: 1rem;
    background: url('/images/index-home-bg5.webp') no-repeat center center fixed;
    min-height: 100vh;
    background-size: cover;
}
/* Mode sombre */
@media (prefers-color-scheme: dark) {
    body {
       /* background: url('/images/index-home-bg3.webp') no-repeat center center fixed;*/
    }
}

.row {
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    display: flex;
    flex-wrap: wrap;
    margin-left: calc(var(--bs-gutter-x)*-.5);
    margin-right: calc(var(--bs-gutter-x)*-.5);
    margin-top: calc(var(--bs-gutter-y)*-1)
}

.row>* {
    flex-shrink: 0;
    margin-top: var(--bs-gutter-y);
    max-width: 100%;
    padding-left: calc(var(--bs-gutter-x)*.5);
    padding-right: calc(var(--bs-gutter-x)*.5);
    width: 100%
}


#second-row{
    padding-top: 96px;
}

.icon-3 {
    padding: 30px;
    height: 100px;
    width: 100px;
    border-radius: 50px;
    background: #d3952b;
    color: #FFF;
    font-size: 40px;
}

.citation {
    margin-bottom: 16px;
}

.citation>div {
    background: #FFF;
    color: #0039CB;
    border-radius: 8px;
    padding: 16px 16px;
    font-size: 15px;
    width: 450px;
    line-height: 130%;
    position: relative;
    text-align: left;
}

.citation img {
    position: relative;
    bottom: 8px;
    left: -8px;
    width: 30px;
}

.start-btn {
    border-radius: 30px;
    background-color: transparent !important;
    margin-bottom: 64px;
    padding: 8px 32px;
    font-size: 1rem;
    border: 2px solid #FFF !important;
    display: inline-block;
}

#logo{
    padding: 1rem 1.5rem;
    display: inline-block;
    width: auto;
}

#login-btn{
    display: inline-block;
    float: right;
    padding: 2rem 1.5rem 0;
}


@media only screen and (max-width: 768px) {


    #logo{
        padding: 8px;
    }

    #logo img{
        width: 40vw;
        height: auto !important;
    }

    #login-btn{
        padding: 16px;
        width: 50vw;
    }

    #login-btn a{
        font-size: 1rem !important;
        padding: 8px !important;
        width: 100%;
        max-width: 150px !important;
    }

    #cat-img, #girls-container{
        display: none;
    }

    .citation{
        max-width: 90vw;
    }

    .citation div{
        max-width: 100%;
    }

    #second-row{
        padding-top: 16px;
    }

    #footer{

        margin-bottom: 16px;
    }

    .start-btn{
        margin-bottom: 16px;
    }
}
